### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [20]:
#count number of rows to obtain total number of players
total_players = pd.DataFrame({"Total Players": [len(purchase_data["SN"].unique())]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:

#cast unique object as list
list_of_unique = []

#populate list with list of unique items
list_of_unique = purchase_data["Item ID"].unique()

#find length of list to find number of unique items
number_of_unique = len(list_of_unique)

#create dataframe with analysis
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [number_of_unique],
                     "Average Price": [purchase_data["Price"].mean()],
                     "Number of Purchases": [purchase_data["Purchase ID"].count()],
                     "Total Revenue": [purchase_data["Price"].sum()]
                     })

#format prices
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].apply(lambda x: "${:.2f}".format(x))
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].apply(lambda x: "${:.2f}".format(x))
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [72]:
#get rid of duplicates by creating groupby object for names
grouped_gender_data = purchase_data.groupby(["SN"]).aggregate({"Gender": "first"})

#cast value counts as list
gender = []

#use value counts to populate list
gender = grouped_gender_data["Gender"].value_counts()

#create dataframe
gender_demographics = pd.DataFrame(gender)

#find percentage
percentage = (gender_demographics["Gender"]/float(total_players["Total Players"]))*100

#add percentage to dataframe
gender_demographics["Percentage of Players"] = percentage

#format percentage 
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].apply(lambda x: "{:.2f}%".format(x))
gender_demographics

                       Gender Percentage of Players
Male                      484                84.03%
Female                     81                14.06%
Other / Non-Disclosed      11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
#group original dataframe by gender by creating groupby object
grouped_purchase_data = purchase_data.groupby(["Gender"])
#find total purchase value
total_purchase_value = grouped_purchase_data["Price"].sum()
#create dataframe
purchasing_analysis = pd.DataFrame(total_purchase_value)
#rename price column
purchasing_analysis = purchasing_analysis.rename(columns = {"Price" : "Total Purchase Value"})
#add column for purchase count
purchasing_analysis["Purchase Count"] = grouped_purchase_data["Gender"].count()
#add column for average perchase price
purchasing_analysis["Average Purchase Price"] = grouped_purchase_data["Price"].mean()
#add column for avg total purchase per person
purchasing_analysis["Avg Total Purchase per Person"] = purchasing_analysis["Total Purchase Value"] / gender_demographics["Gender"]
#format money
purchasing_analysis["Total Purchase Value"] = purchasing_analysis["Total Purchase Value"].apply(lambda x: "${:.2f}".format(x))
purchasing_analysis["Average Purchase Price"] = purchasing_analysis["Average Purchase Price"].apply(lambda x: "${:.2f}".format(x))
purchasing_analysis["Avg Total Purchase per Person"] = purchasing_analysis["Avg Total Purchase per Person"].apply(lambda x: "${:.2f}".format(x))
purchasing_analysis

,Total Purchase Value,Purchase Count,Average Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,$361.94,113,$3.20,$4.47
Male,$1967.64,652,$3.02,$4.07
Other / Non-Disclosed,$50.19,15,$3.35,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [73]:
#groupby names again to avoid repeats
grouped_age_data = purchase_data.groupby(["SN"]).aggregate({"Age": "first"})

#create bins
bins = [0, 9.9, 14.1, 19.1, 24.1, 29.1, 34.1, 39.1, 100]

#create labels
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#label each row as different bin
age_bins = pd.DataFrame(pd.cut(grouped_age_data["Age"], bins, labels = labels, include_lowest = True))

#group with valuecount
age_demographics = pd.DataFrame(age_bins["Age"].value_counts(sort = False))

#rename Age to Total Count
age_demographics = age_demographics.rename(columns={"Age":"Total Count"})

#create percentage column
age_demographics["Percentage of Players"] = age_demographics["Total Count"]/ float(total_players["Total Players"])* 100

#reformat percentage
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].apply(lambda x: "{:.2f}%".format(x))
age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame